#errors .text-danger, #ranking_table span.text-danger, p.text-danger{ color: #8b0000;}
#ranking_table span.text-danger:hover{ color: inherit!important; }

#errors .text-success, #ranking_table span.text-success, span.text-success{ color: green!important;}
#ranking_table span.text-success:hover{ color: inherit!important;}
#pthsignup-form sup.mandatory, #pthactivate-form sup.mandatory{ color: #8b0000; font-size: smaller;}
#pthemailval-form input[type=text]{
    width: 300px!important;
}

canvas.canvas-holder{
    float: left;
}

canvas.half{
    width: 50%!important;
}

#tableModalHeader, #tableModalBody, #tableModalFooter, #deleteModalHeader, #deleteModalBody, #deleteModalFooter{
    background-color: #ffffff;
}

.tip-title {
   color: #4a4a4a!important;
}

.easy-autocomplete {  
    display:inline-block;    
}

.adsense-large-feature{
    display: none;
}

.adsense-box-sidebar{
    display: none;
}

.table-responsive
{
    overflow-x: auto;
}